@font-face {font-family: 'bebas'; src: url('fonts/bebasneue_bold-webfont.eot');src: url('fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bebasneue_bold-webfont.woff') format('woff'),url('fonts/bebasneue_bold-webfont.ttf') format('truetype'),url('fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg'); font-weight: normal; font-style: normal;}

*{margin:0; padding:0; outline:0;}
a {text-decoration:none;}

body {font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#111; text-align:center; padding: 100px 0; line-height:21px;}
h1 {font-family:'bebas'; font-size:36px; line-height:32px; margin:20px 0 0 0; font-weight:normal;}
h2 {font-size:13px; margin:10px 0 0 0; font-weight:normal;}
.seguinos {margin:50px 0 0 0;}
	.seguinos span {font-family:'bebas'; font-size:27px;}
	
.direccion {margin:80px auto auto auto; max-width:400px; }
.social {overflow:hidden; margin:10px 0 0 0;}
	.social a {margin:0 5px 0 0;}